.bodyContainer {
    * {
        transition: .1s;
    }

    #body {
        position: absolute;
        top: 50vh;
        left: 50%;
        height: 70vh;
        width: 70%;
        object-fit: cover;
        object-position: top;
    }
    #eyeL {
        position: absolute;
        top: 50vh;
        left: 50%;
        height: 70vh;
        width: 70%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }
    #eyeR {
        position: absolute;
        top: 50vh;
        left: 50%;
        height: 70vh;
        width: 70%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }
}

body {
    height: 100%; 
    width: 100%; 
    overflow: hidden;
}