---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">
		<script src="../scripts/preload.js" />
		<script src="../scripts/animate.js" />
		<title>Mouse-Track Experiment | aldenw.ong</title>
	</head>
	<body>
		<div class="bodyContainer">
			<img id="body" src="img/eyetrack/body.png" draggable="false">
			<img id="eyeL" src="img/eyetrack/eye_L.png" draggable="false">
			<img id="eyeR" src="img/eyetrack/eye_R.png" draggable="false">
		</div>

		<div style="padding:2em; width: 50vw;">
			<h1 style="font-family: 'Poppins'; font-weight: 800; font-size: 3em; padding-bottom:1em;">Mouse-track Experiment</h1>
			<p style="font-family: 'Poppins'; font-weight: 500; font-size: 1em; padding-bottom:1em; line-height: 1.2em;">
				This experiment originally served as a testing ground of an effect I wanted to implement into a website. <br>
				This person tracks the position of the mouse relative to the location of the person's eyes. <br>
				The person will open their eyes wider if the mouse gets close to them, and has an animation to hide when toggled. <br>
				This is a barebones version of the idea and I eventually ended up not using it. <br>
				View the GitHub repo <a href="https://aldenw.ong" target="_blank">here</a>.
			</p>
			<button id="button">Hide Person</button>
			<br><br>
			<span id="scriptSpan"></span>
		</div>

		<div style="width:100%; height:5em; content:'';" />
	</body>
</html>
